
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropping Driver Sign up</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="/assets/jquery-ui.min.css" rel="stylesheet" type="text/css">
   <!--  <link href="/assets/fonts.css" rel="stylesheet" type="text/css"> -->
    <link href="/assets/signup.css" rel="stylesheet" type="text/css">
    <!-- <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:770352,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script> -->
</head>
<body>
   
   <div id="supplier">
    <header itemscope itemtype="http://schema.org/WPHeader" style="background-image:url(/assets/drop_driver1.jpg);">
			<div class="middle-y skrollable skrollable-between" data-0="transform:translateY(-40%); opacity:2;" data-top="transform:translateY(10%); opacity:0;">
				<!-- <h1 class="title1">Looking for a driving job?</br>Join Dropping!</h1> -->
				<div class="subtitle">
					 <div class="block" style="text-align: left; line-height: 24px;">
                <div>Complete this form to start earning with Dropping!</div>
                <br>
                <div>
                    Here are the steps:
                    <ol>
                        <li>Complete this form and press submit</li>
                        <li>Look out for a text message and email inviting you to attend a Dropping welcome session in person</li>
                        <li>Attend the welcome session and ensure your driver profile is up-to-date</li>
                        <li>Start earning with Dropping!</li>
                    </ol>
                    
                </div>
            </div>

				</div>
			</div>
		</header>
	</div>
	
	
    <div class="center">
        <form data-abide id="driver_form" action="" method="POST" enctype="multipart/form-data" class="form">

            <!-- <div class="block" style="text-align: left; line-height: 24px;">
                <div>Complete this form to start earning with Dropping!</div>
                <br>
                <div>
                    Here are the steps:
                    <ol>
                        <li>Complete this form and press submit</li>
                        <li>Look out for a text message and email inviting you to attend a Dropping welcome session in person</li>
                        <li>Attend the welcome session and ensure your driver profile is up-to-date</li>
                        <li>Start earning with Dropping!</li>
                    </ol>
                    If you need support completing this form, please email Dropping driver services at
                    <a href="">drivers@dropping.com</a> and we'll be happy to help you!
                </div>
            </div> -->
            

            <h2>Personal Information</h2>

            <div class="block">
                <div class="block-half-width block-half-width-left">
                    <input type="text" id="gett_billing_driver_signup_form_firstName" name="gett_billing_driver_signup_form[firstName]" required="required" placeholder="First Name (Required)" class="field" />
                    <small class="error">Please enter your first name</small>
                </div>
                <div class="block-half-width block-half-width-right">
                    <input type="text" id="gett_billing_driver_signup_form_lastName" name="gett_billing_driver_signup_form[lastName]" required="required" placeholder="Last Name (Required)" class="field" />
                    <small class="error">Please enter your last name</small>
                </div>
            </div>

            <div class="block">
                <select id="gett_billing_driver_signup_form_city" name="gett_billing_driver_signup_form[city]" required="required" class="field"><option value="" selected="selected">City (Required)</option><option value="London">Accra</option><option value="Greater Manchester">Kumasi</option><option value="Edinburgh">Takoradi</option><option value="Other">Other</option></select>
                <small class="error">City is required</small>
            </div>

            <div class="block hidden" id="cityOther">
                <input type="text" id="gett_billing_driver_signup_form_cityOther" name="gett_billing_driver_signup_form[cityOther]" placeholder="City Name (Required)" class="field" />
                <small class="error">City is required</small>
            </div>

            <div class="block">
                <input type="tel" id="gett_billing_driver_signup_form_mobilePhone" name="gett_billing_driver_signup_form[mobilePhone]" required="required" placeholder="Mobile Phone (Required)" class="field" data-abide-validator="ukMobile" />
                <small class="error">Your mobile phone number must be 11 digits long.</small>
            </div>

            <div class="block">
                <input type="email" id="gett_billing_driver_signup_form_emailAddress" name="gett_billing_driver_signup_form[emailAddress]" required="required" placeholder="Email Address (Required, must be valid)" class="field" />
                <small class="error">Email address is required and must be valid</small>
            </div>

            <h2>Car Information</h2>

            <div class="block">
                <input type="text" id="gett_billing_driver_signup_form_vehicleRegistrationNumber" name="gett_billing_driver_signup_form[vehicleRegistrationNumber]" required="required" placeholder="Car Registration Number (Required)" class="field" />
                <small class="error">Car Registration Number is required</small>
            </div>

               <div class="block">
                <input type="text" id="gett_billing_driver_signup_form_vehicleRegistrationNumber" name="gett_billing_driver_signup_form[vehicleRegistrationNumber]" required="required" placeholder="Car Model (Required)" class="field" />
                <small class="error">Car Model is required</small>
            </div>

            <div class="block hidden" id="vehicleModelOther">
                <input type="text" id="gett_billing_driver_signup_form_vehicleModelOther" name="gett_billing_driver_signup_form[vehicleModelOther]" placeholder="Vehicle Model Name (Required)" class="field" />
                <small class="error">Car Model is required</small>
            </div>

            <div class="block">
                <select id="gett_billing_driver_signup_form_cabColour" name="gett_billing_driver_signup_form[cabColour]" required="required" class="field"><option value="" selected="selected">Cab Colour (Required)</option><option value="Black">Black</option><option value="Grey">Grey</option><option value="Red">Red</option><option value="Blue">Blue</option><option value="Green">Green</option><option value="Yellow">Yellow</option><option value="Branded">Branded</option><option value="Other">Other</option></select>
                <small class="error">Cab Colour is required</small>
            </div>

            <div class="block hidden" id="cabColourOther">
                <input type="text" id="gett_billing_driver_signup_form_cabColourOther" name="gett_billing_driver_signup_form[cabColourOther]" placeholder="Cab Colour (Required)" class="field" />
                <small class="error">Cab Colour is required</small>
            </div>

            <!-- <div class="block">
                <select id="gett_billing_driver_signup_form_badgeType" name="gett_billing_driver_signup_form[badgeType]" required="required" class="field"><option value="" selected="selected">Badge Type (Required)</option><option value="Green Badge">Green Badge</option><option value="Yellow Badge">Yellow Badge</option><option value="Manchester City Council Hackney Carriage Licence">Manchester City Council Hackney Carriage Licence</option><option value="Salford Hackney Carriage Licence">Salford Hackney Carriage Licence</option><option value="Stockport Hackney Carriage Licence">Stockport Hackney Carriage Licence</option><option value="Trafford Hackney Carriage Licence">Trafford Hackney Carriage Licence</option><option value="Edinburgh Taxi Licence">Edinburgh Taxi Licence</option><option value="Glasgow Taxi Licence">Glasgow Taxi Licence</option><option value="Coventry Hackney Carriage Licence">Coventry Hackney Carriage Licence</option><option value="Birmingham City Hackney Carriage Licence">Birmingham City Hackney Carriage Licence</option><option value="Leeds City Hackney Carriage Licence">Leeds City Hackney Carriage Licence</option><option value="Liverpool Hackney Carriage Licence">Liverpool Hackney Carriage Licence</option><option value="Newcastle Hackney Carriage Licence">Newcastle Hackney Carriage Licence</option><option value="Bournemouth Hackney Carriage Licence">Bournemouth Hackney Carriage Licence</option><option value="Reading Hackney Carriage Licence">Reading Hackney Carriage Licence</option><option value="Bristol Hackney Carriage Licence">Bristol Hackney Carriage Licence</option><option value="Other">Other</option></select>
                <small class="error">Badge Type is required</small>
            </div>
 -->

         <!--    <div class="block hidden" id="badgeTypeOther">
                <input type="text" id="gett_billing_driver_signup_form_badgeTypeOther" name="gett_billing_driver_signup_form[badgeTypeOther]" placeholder="Badge Type (Required)" class="field" />
                <small class="error">Badge Type is required</small>
            </div>

            <div class="block">
                <input type="number" id="gett_billing_driver_signup_form_badgeNumber" name="gett_billing_driver_signup_form[badgeNumber]" required="required" placeholder="Badge Number (Required)" class="field" data-abide-validator="badgeNumber" inputmode="numeric" pattern="[0-9]*" />
                <small class="error">Your badge number must be numbers only, 5 in length, with no spaces, letters or
                    special characters
                </small>
            </div> -->

                <div class="block">
                <select id="gett_billing_driver_signup_form_cabColour" name="gett_billing_driver_signup_form[cabColour]" required="required" class="field"><option value="" selected="selected">Car Type</option><option value="Taxi">Taxi</option><option value="Private car">Private Car</option></select>
                <small class="error">Car Type is required</small>
            </div>

            <!-- <div class="block datetime-block">
                <label>
                    <span>Car Plate Expiry date</span>
                    <input type="date" id="gett_billing_driver_signup_form_taxiPlateExpiryDate" name="gett_billing_driver_signup_form[taxiPlateExpiryDate]" required="required" placeholder="Taxi plate expiry date (Required)" class="field date-picker" />
                </label>
                <small class="error">Car Plate Expiry Date is required</small>
            </div>
 -->
            <h2>Bank Account Information</h2>

            <div class="block" style="text-align: left; line-height: 24px;">
                It's important that you complete the details below correctly. This is the account which your payments will be made to.
            </div>

            <div class="block">
                <input type="number" id="gett_billing_driver_signup_form_bankAccountNumber" name="gett_billing_driver_signup_form[bankAccountNumber]" required="required" placeholder="Bank Account Number (Required, no spaces)" class="field" data-abide-validator="ukBankAcc" inputmode="numeric" pattern="[0-9]*" />
                <small class="error">Bank Account Number must consist of 8 digits</small>
            </div>

          <!--   <div class="block">
                <input type="number" id="gett_billing_driver_signup_form_bankSortCode" name="gett_billing_driver_signup_form[bankSortCode]" required="required" placeholder="Sort Code (Required, no spaces)" class="field" data-abide-validator="ukBankSort" inputmode="numeric" pattern="[0-9]*" />
                <small class="error">Sort Code must consist of 6 digits</small>
            </div> -->

            <h2>Other Information</h2>

            <div class="block">
                <input type="number" id="gett_billing_driver_signup_form_referrerDriverID" name="gett_billing_driver_signup_form[referrerDriverID]" placeholder="Referred by (Driver ID)" class="field" data-abide-validator="referrerDriverId" inputmode="numeric" pattern="[0-9]*" />
                <small class="error">The driver ID is only numbers, with no spaces</small>
            </div>

            <div class="block">
                <select id="gett_billing_driver_signup_form_howDidYouHear" name="gett_billing_driver_signup_form[howDidYouHear]" class="field"><option value="">How did you hear about us?</option><option value="Google">Advertising</option><option value="Friend">Dropping Driver</option><option value="Friend">Friend</option><option value="Social Media">Social Media</option><option value="Branding on Cab">Branding on Car</option><option value="Other">Other</option></select>
            </div>

            <div class="block hidden" id="howDidYouHearOther">
                <input type="text" id="gett_billing_driver_signup_form_howDidYouHearOther" name="gett_billing_driver_signup_form[howDidYouHearOther]" placeholder="How did you hear about us?" class="field" />
            </div>

            <!-- <div id="terms_and_conditions" class="block center">
                <label for="terms_and_conditions_check" class="center">
                    <input type="checkbox" id="terms_and_conditions_check" required>
                    <small class="label">I have read and agreed to the
                        <a href="" target="_blank">terms and conditions</a>
                    </small>
                    <small class="error">I have read and agreed to the
                        <a href="" target="_blank">terms and conditions</a>
                    </small>
                </label>
                <p>
                   
                </p>
            </div> -->

            <div id="submit_block" class="block center">
                <button type="submit" class="button">SUBMIT</button>
            </div>
        </form>
    </div>
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/jquery-ui.min.js"></script>
    <script src="/assets/loadingoverlay.min.js"></script>
    <script src="/assets/jquery.ui.widget.js"></script>
    <script src="/assets/jquery.iframe-transport.js"></script>
    <script src="/assets/jquery.fileupload.js"></script>
    <script src="/assets/jquery.fileupload-process.js"></script>
    <script src="/assets/foundation.min.js"></script>
    <script src="/assets/validators.js"></script>
    <script src="/assets/signup.js"></script>
</body>
</html>
