<div id="homepage">
	<!--<div class="loader-screen">
	<div class="loader"></div>
	</div>-->
	<!-- <div class="loader-screen">
		<div class="loader-ball-scale">
			<div></div>
		</div>
	</div> -->
	<div id="skrollr-body">

		<section id="hp-section1">
			<div class="products middle skrollable skrollable-between" data-0="transform:translate3d(-50%, -50%, 0); opacity:1;" data-top="transform:translate3d(-50%, -10%, 0); opacity:0;">
				<header itemscope itemtype="http://schema.org/WPHeader">
					<div class="title1" style="font-size: 70px">
						Be In Control
					</div>
					<div class="title2" style="font-size: 25px">
						<!-- The UK's black cab app -->
					</div>

				</header>
				<div class="section1-download"></div>
				<ul class="apps">
					<li>
						<a href="" target="_blank" class="btn-app btn-border"> <i class="icon icon-btn-appstore"></i> </a>
					</li>
					<li>
						<a href="" target="_blank" class="btn-app btn-border"> <i class="icon icon-btn-playstore"></i> </a>
					</li>
				</ul>
			</div>
			<a href="" class="btn-scroll-down skrollable skrollable-between" data-0="opacity:1" data-400-top="opacity:0"></a>

			<!-- <div class="section1-video video-container" >
			<div class="black-mask"></div>
			</div> -->

			<div class="section1-video video-container" style="background-image: url(/assets/airport_logo.jpg);">
				<div class="black-mask"></div>
			</div>
		</section>

		<section id="ride">
			<div class="section2-1"
			data-0="transform:translate3d(-30%, 0, 0); opacity:0;"
			data-400-top="transform:translate3d(0%, 0, 0); opacity:1;"
			data-bottom="transform:translate3d(0%, 0, 0); opacity:1;"
			data--1000-bottom="transform:translate3d(-30%, 0, 0); opacity:0;">
				<img itemprop="image" src="/assets/Website_iphone_may20188.png/" alt="" class="phone">
				<%#= image_tag "/assets/Website_iphone_may20188.png/", class: "phone" ,itemprop: "image"%>

			</div>
			<div class="section2-2 skrollable skrollable-between"
			data-0="transform:translate3d(30%, 0, 0); opacity:0;"
			data-400-top="transform:translate3d(0%, 0, 0); opacity:1;"
			data-bottom="transform:translate3d(0%, 0, 0); opacity:1;"
			data--1000-bottom="transform:translate3d(30%, 0, 0); opacity:0;">
				<div class="middle">
					<div class="items">
						<div class="item">
							<h2>Why Dropping?</h2>
						</div>

						<div class="item">
							<ul id="items" class="cf">

								<li class="iconContent span33 alignleft">
									<div class="icon">
										<div class="icon-bg">
											<div class="arc"></div>
										</div>
										<!-- <img itemprop="image" src="https://gett.com/uk/wp-content/uploads/sites/6/2015/11/best_rated_UK.png"
										alt=""/> -->
										<img itemprop="image" src="/assets/medal.png">
									</div>
									<div class="iconText">
										No more hassling or hailing  for a ride, use Dropping<sup>SM</sup>
									</div>
									<div class="iconSubtext">
										<!-- Ride with UK's highest rated drivers -->
									</div>
								</li>
								<li class="iconContent span33 alignleft">
									<div class="icon">
										<div class="icon-bg">
											<div class="arc"></div>
										</div>
										<!-- <img itemprop="image" src="https://gett.com/uk/wp-content/uploads/sites/6/2017/04/2.png"
										alt=""/> -->
										<img itemprop="image" src="/assets/order.png"
										alt=""/>

									</div>
									<div class="iconText">
										Book for Now, Later., Other and Airport pickup.
									</div>
									<div class="iconSubtext">
										<!-- Arrive 3 minutes quicker than Uber
										<br />
										*Loudhouse 2017 -->
									</div>
								</li>
								<li class="iconContent span33 alignleft">
									<div class="icon">
										<div class="icon-bg">
											<div class="arc"></div>
										</div>
										<!-- <img itemprop="image" src="https://gett.com/uk/wp-content/uploads/sites/6/2016/02/receiving.png"
										alt=""/> -->
										<img itemprop="image" src="/assets/option.png">
									</div>
									<div class="iconText">
										Option to choose the best rated drivers, for all your rides.
									</div>
									<div class="iconSubtext">
										<!-- The smart way to order a black cab -->
									</div>
								</li>
								<li class="iconContent span33 alignleft">
									<div class="icon">
										<div class="icon-bg">
											<div class="arc"></div>
										</div>
										<!-- <img itemprop="image" src="https://gett.com/uk/wp-content/uploads/sites/6/2015/11/BEST_FARES_UK.png"
										alt=""/> -->
										<img itemprop="image" src="/assets/currency.png">
									</div>
									<div class="iconText">
										Never pay for surge pricing again.
									</div>
									<div class="iconSubtext">
										<!-- Know your fare
										<br />
										before you order -->
									</div>
								</li>
								<li class="iconContent span33 alignleft">
									<div class="icon">
										<div class="icon-bg">
											<div class="arc"></div>
										</div>
										<!-- <img itemprop="image" src="https://gett.com/uk/wp-content/uploads/sites/6/2015/11/hp-icon-clock.png"
										alt=""/> -->
										<!-- <img itemprop="image" src="https://gett.com/uk/wp-content/uploads/sites/6/2015/11/hp-icon-gift.png"
										alt=""/>  -->
										<img itemprop="image" src="/assets/gift.png">

									</div>
									<div class="iconText">
										Redeem your reward points per each ride.
									</div>
									<!-- <div class="iconSubtext">
									Gett a black cab asap
									<br>
									or pre-book in advance.
									</div> -->
								</li>
								<li class="iconContent span33 alignleft">
									<div class="icon">
										<div class="icon-bg">
											<div class="arc"></div>
										</div>
										<!-- <img itemprop="image" src="https://gett.com/uk/wp-content/uploads/sites/6/2015/11/hp-icon-gift.png"
										alt=""/> -->
										<!-- <img itemprop="image" src="https://gett.com/uk/wp-content/uploads/sites/6/2017/04/2.png"
										alt=""/>  -->
										<img itemprop="image" src="/assets/watch.png">
									</div>
									<div class="iconText">
										Wait time is over, no more standing in line for a taxi/trotro.
									</div>
									<div class="iconSubtext">
										<!-- Share the Gett app with your friends and earn free rides. -->
									</div>
								</li>

							</ul>
						</div>

					</div>
				</div>
			</div>
		</section>
	</div>

	<section
	id="section-raw-php-user-education-body"
	class="section section--light section-raw-php bg-size-cover"
style="background-color:#fbb417";												padding-top: 0px;padding-bottom: 0px;">
		<div class="container-fluid">

			<header></header>

			<style>
.step1 .fluid-container {padding-top:90px; padding-bottom:85px}
.step1 h2 {font-weight: lighter; font-size: 2.571em; color: #101010; text-align: center; width:100%; max-width:620px;margin-left:auto; margin-right:auto; margin-bottom:50px; padding-left:15px; padding-right:15px;}
.step1 .btn {background-color:#fff; color:#101010; text-transform:uppercase; border-radius: 0; box-shadow: none; padding: 16px 20px 15px; font-size: 1.35em; line-height: 1;}
			</style>
			<div class="step1">
				<div class="row">
					<div class="fluid-container text-center" style="background-color:#fbb417">
						<h2>What you should know before your first Dropping ride</h2>
						<a href="" class="btn btnNext">click to learn</a>
					</div>
				</div>
			</div>

		</div>
	</section>





		<section
		id="section-carousel-tooltip-homepage-services"
		class="section section-carousel-tooltip section--dark">

			<header>
				<!-- <h2>Rides For Everyone</h2> -->
			</header>
			<div class="carousel carousel-tooltip carousel-fade slide" data-ride="carousel" id="carousel-homepage-services">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-homepage-services">
						<i class="icon icon--hover icon--service--taxi"></i>
					</li>
					<li data-slide-to="1" data-target="#carousel-homepage-services">
						<i class="icon icon--hover icon--service--car"></i>
					</li>

				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item item-1 bg-size-cover active" style="background-image: url(/assets/taxi_girl.jpg);">
						<div class="carousel-caption">
							<h1>Taxi</h1>
							<p>
								More taxis than any other app in Ghana, at your service.
							</p>
							<a href="taxi"><span></span></a>
						</div>
					</div>
					<div class="item item-2 bg-size-cover" style="background-image: url(/assets/private_girl.jpg);">
						<div class="carousel-caption">
							<h1>Private Car</h1>
							<p>
								A car for every need, from everyday cars to luxury vehicles.
							</p>
							<a href="car"><span></span></a>
						</div>
					</div>

				</div><!-- /carousel-inner -->
			</div><!-- /carousel -->
		</section>

		<div id="skrollr-body">
			<section id="hp-section6">
				<!-- <div class="loader-inner ball-scale">
				<div></div>
				</div> -->
				<div class="section6-1 align">
					<div class="middle">
						<div class="title">
							Be In Control
						</div>
						<div class="text">
							Watch Kofi’s video on how he was recruited
						</div>
					</div>
				</div>
				<div class="section6-2">
					<div class="video">
						<img itemprop="image" src="/assets/testi.jpg" alt=""/>
						<a href="" class="btn-play" data-video="2rbWvi8zj6I"></a>
					</div>
				</div>
			</section>
		</div>
</div>

<div class="lb video">
	<div id="gett-video"></div>
	<a href="" class="btn-close"></a>
</div>

