<!DOCTYPE html>
<html lang="en-GB" prefix="og: http://ogp.me/ns#">

	<div id="suppliers">

		<header itemscope itemtype="http://schema.org/WPHeader" style="background-image:url(/assets/ind1.PNG);">
			<div class="middle-y skrollable skrollable-between" data-0="transform:translateY(-40%); opacity:2;" data-top="transform:translateY(10%); opacity:0;">
				<h1 class="title1">Looking for a driving job?</br>Join Dropping!</h1>
				<div class="subtitle">
					If you're a taxi driver it's quick and easy to start working and earning with us.<br>
					Do you own a private car? Start driving to earn money.
				</div>
			</div>
		</header>

		<section id="section1">
			<div class="workarea cf">
				<div class="contents cf">

					<div class="title">
						<h2 class="title1">Why become a Dropping  driver?</h2>
					</div>
					<div>
						<div class="iconContent span33 alignleft">
							<div class="icon">
								<div class="icon-bg">
									<div class="arc"></div>
								</div>
								<img itemprop="image" src="https://gett.com/uk/wp-content/uploads/sites/6/2015/12/champagne-icon3.png" alt="" />
							</div>
							<div class="iconText">
								Earn more with Dropping
							</div>
							<div class="iconSubtext">
								More driving jobs = more money
							</div>
						</div>
						<div class="iconContent span33 alignleft">
							<div class="icon">
								<div class="icon-bg">
									<div class="arc"></div>
								</div>
								<img itemprop="image" src="https://gett.com/uk/wp-content/uploads/sites/6/2015/11/tips-72.png" alt="" />
							</div>
							<div class="iconText">
								Keep all of your tips
							</div>
							<div class="iconSubtext">
								Because that's only fair
							</div>
						</div>
						<div class="iconContent span33 alignleft">
							<div class="icon">
								<div class="icon-bg">
									<div class="arc"></div>
								</div>
								<img itemprop="image" src="https://gett.com/uk/wp-content/uploads/sites/6/2015/11/books-05.png" alt="" />
							</div>
							<div class="iconText">
								Get the free driver app
							</div>
							<div class="iconSubtext">
								Manage your work in the app for iOS and Android
							</div>
						</div>
						<div class="iconContent span33 alignleft">
							<div class="icon">
								<div class="icon-bg">
									<div class="arc"></div>
								</div>
								<img itemprop="image" src="https://gett.com/uk/wp-content/uploads/sites/6/2015/11/67-67.png" alt="" />
							</div>
							<div class="iconText">
								No contracts
							</div>
							<div class="iconSubtext">
								Work in your own time
							</div>
						</div>
						<div class="iconContent span33 alignleft">
							<div class="icon">
								<div class="icon-bg">
									<div class="arc"></div>
								</div>
								<img itemprop="image" src="https://gett.com/uk/wp-content/uploads/sites/6/2016/01/business_2_icon1.png" alt="" />
							</div>
							<div class="iconText">
								Secure card payments
							</div>
							<div class="iconSubtext">
								No need to handle cash
							</div>
						</div>
						<div class="iconContent span33 alignleft">
							<div class="icon">
								<div class="icon-bg">
									<div class="arc"></div>
								</div>
								<img itemprop="image" src="https://gett.com/uk/wp-content/uploads/sites/6/2015/10/careers-icon5.png" alt="" />
							</div>
							<div class="iconText">
								Refer a friend programme
							</div>
							<div class="iconSubtext">
								Make extra money by signing up your friends
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="section2" class="cf">
			<div class="section2-1">
				<div id="quotes" class="carousel owl-carousel owl-theme owl-loaded">

					<div class="owl-stage-outer">
						<div class="owl-stage" style="transform: translate(-1695px, 0px); transition: 0s; width: 4520px;">

							<div class="owl-item" style="width: 565px; margin-right: 0px;">
								<div class="item">
									<div class="text">
										<div class="icon-quote"></div>
										"Dropping is a brilliant, easy app to use as a driver. Fixed fares are great for customers and a good answer to Uber/other private hire apps."
										<br>
										<span class="from">Mezher, Birmingham Dropping Driver</span>
									</div>
								</div>
							</div>
							<div class="owl-item" style="width: 565px; margin-right: 0px;">
								<div class="item">
									<div class="text">
										<div class="icon-quote"></div>
										"I like the fact customer care are 24/7 and lots of the jobs are good earners."
										<br>
										<span class="from">Zak, London Dropping Driver</span>
									</div>
								</div>
							</div>
							<div class="owl-item cloned" style="width: 565px; margin-right: 0px;">
								<div class="item">
									<div class="text">
										<div class="icon-quote"></div>
										"As a driver, Dropping is flawless. The Driver Support team are well trained, have excellent phone manners and are always really helpful."
										<br>
										<span class="from">Grant, Edinburgh Dropping Driver</span>
									</div>
								</div>
							</div>
							<div class="owl-item cloned" style="width: 565px; margin-right: 0px;">
								<div class="item">
									<div class="text">
										<div class="icon-quote"></div>
										"Using Dropping has already <br>increased my monthly income."
										<br>
										<span class="from">Nana,Dropping Driver</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="owl-controls">
					<div class="owl-nav">
					<div class="owl-prev" style="display: none;">
					prev
					</div>
					<div class="owl-next" style="display: none;">
					next
					</div>
					</div>
					<div class="owl-dots" style="">
					<div class="owl-dot">
					<span></span>
					</div>
					<div class="owl-dot active">
					<span></span>
					</div>
					<div class="owl-dot">
					<span></span>
					</div>
					<div class="owl-dot">
					<span></span>
					</div>
					</div>
					</div> -->
				</div>
			</div>
			<div class="section2-2">
				<div class="section2-2-inner">
					<h2 class="title1">JOIN US!</h2>
					<%= link_to 'Click to sign up',test_signups_path, :class=> "btn-signup" %>
					<!-- <a href="https://gettaxi.me/portal/driver/sign-up" target="_blank" class="btn-signup">Click to sign up</a> -->
				</div>
			</div>
		</section>

		<!-- <section id="section2" class="cf">
		<div class="section2-1">
		<div id="quotes" class="carousel">
		<div class="item">
		<div class="text">
		<div class="icon-quote"></div>
		"As a driver, Gett is flawless. The Driver Support team are well trained, have excellent phone manners and are always really helpful."
		<br />
		<span class="from">Grant, Edinburgh Gett Driver</span>
		</div>
		</div>
		<div class="item">
		<div class="text">
		<div class="icon-quote"></div>
		"Using Gett is one of the smartest business decisions I've made. It's already increased my monthly income."
		<br />
		<span class="from">Simon, Manchester Gett Driver</span>
		</div>
		</div>
		<div class="item">
		<div class="text">
		<div class="icon-quote"></div>
		"Gett is a brilliant, easy app to use as a driver. Fixed fares are great for customers and a good answer to Uber/other private hire apps."
		<br />
		<span class="from">Mezher, Birmingham Gett Driver</span>
		</div>
		</div>
		<div class="item">
		<div class="text">
		<div class="icon-quote"></div>
		"I like the fact customer care are 24/7 and lots of the jobs are good earners."
		<br />
		<span class="from">Zak, London Gett Driver</span>
		</div>
		</div>
		</div>
		</div>
		<div class="section2-2">
		<div class="section2-2-inner">
		<h2 class="title1">JOIN US!</h2>
		<a href="https://gettaxi.me/portal/driver/sign-up" target="_blank" class="btn-signup">Click to sign up</a>
		</div>
		</div>
		</section> -->

		<section id="section3">
			<div class="workarea">
				<h2 class="title1">It's easy to join Dropping</h2>
				<div class="items cf">
					<div class="item alignleft span33">
						<a href="" target="_blank" color="#000">
						<div class="icon"><img itemprop="image" src="https://gett.com/uk/wp-content/themes/gett/images/icons/signup.png" />
						</div>
						<div class="text" >
							<%= link_to 'Sign up',test_signups_path %>
						</div> </a>
					</div>
					<div class="item alignleft span33">
						<div class="icon"><img itemprop="image" src="https://gett.com/uk/wp-content/themes/gett/images/icons/download.png" />
						</div>
						<div class="text">
							Download the app
						</div>
					</div>
					<div class="item alignleft span33">
						<div class="icon"><img itemprop="image" src="https://gett.com/uk/wp-content/themes/gett/images/icons/receiving.png" />
						</div>
						<div class="text">
							Receive driving jobs
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>

	<noscript>
		<img height="1" width="1"
		src="https://www.facebook.com/tr?id=251169071741293&ev=PageView
		&noscript=1"/>
	</noscript>

	<script type='text/javascript' src='https://gett.com/uk/wp-content/mu-plugins/square-mega-menu/assets/frontend/js/jquery.square-mega-menu.js?ver=1.0.0'></script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var wpcf7 = {
			"apiSettings" : {
				"root" : "https:\/\/gett.com\/uk\/wp-json\/contact-form-7\/v1",
				"namespace" : "contact-form-7\/v1"
			},
			"recaptcha" : {
				"messages" : {
					"empty" : "Please verify that you are not a robot."
				}
			}
		};
		/* ]]> */
	</script>
	<script type='text/javascript' src='https://gett.com/uk/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.2'></script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var cnArgs = {
			"ajaxurl" : "https:\/\/gett.com\/uk\/wp-admin\/admin-ajax.php",
			"hideEffect" : "fade",
			"onScroll" : "no",
			"onScrollOffset" : "100",
			"cookieName" : "cookie_notice_accepted",
			"cookieValue" : "true",
			"cookieTime" : "2592000",
			"cookiePath" : "\/",
			"cookieDomain" : "",
			"redirection" : "",
			"cache" : "",
			"refuse" : "no",
			"revoke_cookies" : "0",
			"revoke_cookies_opt" : "automatic",
			"secure" : "1"
		};
		/* ]]> */
	</script>
	<script type='text/javascript' src='https://gett.com/uk/wp-content/plugins/cookie-notice/js/front.min.js?ver=1.2.44'></script>
	<script type='text/javascript' src='https://gett.com/uk/wp-content/themes/gett/js/skrollr.js?ver=4.9.6'></script>
	<script type='text/javascript' src='https://gett.com/uk/wp-content/themes/gett/js/jquery.vticker.min.js?ver=4.9.6'></script>
	<script type='text/javascript' src='https://gett.com/uk/wp-content/themes/gett/js/jquery.videoBG.js?ver=4.9.6'></script>
	<script type='text/javascript' src='https://gett.com/uk/wp-content/themes/gett/inc/form-validation/form-validation.js?time=1528227182&#038;ver=4.9.6'></script>
	<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.10/js/perfect-scrollbar.jquery.js?ver=4.9.6'></script>
	<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/masonry/4.0.0/masonry.pkgd.min.js?ver=4.9.6'></script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var videoBG = null;
		/* ]]> */
	</script>
	<script type='text/javascript' src='https://gett.com/uk/wp-content/themes/gett/js/videoBG.js?time=21497177780&#038;ver=4.9.6'></script>
	<script type='text/javascript' src='https://gett.com/uk/wp-content/themes/gett/js/js.js?time=1529546619&#038;ver=4.9.6'></script>
	<script type='text/javascript' src='https://gett.com/uk/wp-content/themes/gett/assets/owl.carousel/owl.carousel.js?ver=4.9.6'></script>
	<script type='text/javascript' src='https://gett.com/uk/wp-includes/js/wp-embed.min.js?ver=4.9.6'></script>
	<script>
		function gettEventPushGtm() {
			dataLayer.push({
				'form_name' : "Title: Drivers",
				'event' : 'formSubmitted'
			});
			console.log('GTM sent');
		}
	</script>

	<!-- Google Code for Gett Delivery - All visitors -->
	<!-- Google Code for Remarketing Tag -->
	<!--------------------------------------------------
	Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
	------------------------------------------------- -->
	<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 924963688;
		var google_conversion_label = "z0tzCPa80HEQ6KaHuQM";
		var google_custom_params = window.google_tag_params;

		var gett_google_remarketing_only_check = "1";

		if (gett_google_remarketing_only_check.length) {
			gett_google_remarketing_only_check = true;
		} else {
			gett_google_remarketing_only_check = false;
		}

		var google_remarketing_only = gett_google_remarketing_only_check;

		/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
	<noscript>
		<div style="display:inline;">
			<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/924963688/?value=1.00&amp;currency_code=USD&amp;label=z0tzCPa80HEQ6KaHuQM&amp;guid=ON&amp;script=0"/>
		</div>
	</noscript>

	<!-- Pardot -->
	<script type="text/javascript">
		piAId = '425002';

		piCId = '95762';

		(function() {
			function async_load() {
				var s = document.createElement('script');
				s.type = 'text/javascript';
				s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
				var c = document.getElementsByTagName('script')[0];
				c.parentNode.insertBefore(s, c);
			}

			if (window.attachEvent) {
				window.attachEvent('onload', async_load);
			} else {
				window.addEventListener('load', async_load, false);
			}
		})();
	</script>
	<!-- Pardot END -->

	<!-- Accessibility - gett.com-->
	<!-- <style>
	/*custom accessibility BTN colors*/
	#INDmenu-btn svg :first-child {
	fill: #fff !important;
	stroke: #555555 !important;
	stroke-width: 3px !important;
	}

	#INDmenu-btn svg :last-child {
	fill: #555555 !important;
	}
	</style> -->
	<!-- <script data-cfasync="false">
	window.interdeal = {
	sitekey : "7ec85bd2bce37fedd9b84ea84b5b58f1",
	Position : "Left",
	Menulang : "EN",
	btnStyle : {
	vPosition : ["78%", "22%"],
	scale : ["0.7", "0.7"],
	}
	}
	</script> -->

</html>
