@font-face {
	font-family: 'icomoon';
	src:    url('/assets/icomoon.eot?wmqs9r');
	src:    url('/assets/icomoon.eot?wmqs9r#iefix') format('embedded-opentype'),
	
	url('/assets/icomoon.woff?wmqs9r') format('woff'),
	url('/assets/icomoon.svg?wmqs9r#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*url('/assets/icomoon.ttf?wmqs9r') format('truetype'),*/

/*[class^="icon-"], [class*=" icon-"]*/
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-iphone-ru:before {
	content: "\e90a";
}
.icon-android-ru:before {
	content: "\e90b";
}
.icon-btn-playstore:before {
	content: "\e908";
}
.icon-btn-appstore:before {
	content: "\e909";
}
.icon-android:before {
	content: "\e900";
}
.icon-iphone:before {
	content: "\e901";
}
.icon-play:before {
	content: "\e902";
}
.icon-arrow-down:before {
	content: "\e903";
}
.icon-arrow-up:before {
	content: "\e904";
}
.icon-cloud:before {
	content: "\e905";
}
.icon-gett:before {
	content: "\e906";
}
.icon-search:before {
	content: "\e907";
}
