.faq-icon {
	display:inline-block;
	width:60px;
	height:60px;
	background-position:center center;
	background-repeat:no-repeat;
}
/*.faq-icon.faq-icon-account {
	background-image: url(../../images/faq-icon-account.svg);
}

.faq-icon.faq-icon-payments {
	background-image: url(../../images/faq-icon-payments.svg);
}

.faq-icon.faq-icon-started {
	background-image: url(../../images/faq-icon-started.svg);
}*/