@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

meta.foundation-data-attribute-namespace {
    font-family: false
}

body {
    font-family: Roboto ;
    margin: 0;

    /*FFDINRoundWebProLight*/
}

h2 {
    /*text-align: left;*/
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.center {
    text-align: center;
}

.block.center label.center {
    text-align: center;
}

.block label {
    text-align: left;
    display: block;
}

.block {
    margin: 20px auto;
    max-width: 600px;
}

.block.error input, .block.error select {
    border-color: #de2626;
}

.block-half-width {
    min-width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

.block-half-width-left {
    float: left;
}

.block-half-width-right {
    float: right;
}

@media (max-width: 800px) {
    .block-half-width {
        display: block;
    }

    .block-half-width-left {
        float: none;
    }

    .block-half-width-right {
        float: none;
    }
}

.form {
    width: 100%;
    display: block;
    padding: 10px;
    box-sizing: border-box;
}

[data-abide] .error small.error, [data-abide] small.error {
    display: block;
    padding: 5px;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    color: #f04124;
    text-align: left;
}

[data-abide] span.error, [data-abide] small.error {
    display: none
}

.field {
    min-height: 58px;
    font-size: 18px;
    box-shadow: none;
    padding: 6px 18px 0 18px;
    text-indent: 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    display: block;
    line-height: 1.428571429;
    color: #555;
    background: #fff none;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    border-image: initial;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-shadow: none;
    text-align: start;
    -webkit-writing-mode: horizontal-tb;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.field:focus {
    border: 1px solid #fdb924;
    box-shadow: none;
    outline: none;
}

.button {
    font-size: 18px;
    padding: 12px 40px;
    -webkit-appearance: button;
    cursor: pointer;
    background: #fbb417;
    color: #101010;
    border: 1px solid #fbb417;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: .02em;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    white-space: nowrap;
    line-height: 1.428571429;
}

.button:hover {
    background: none;
    color: #fbb417;
    text-decoration: none;
}

#terms_and_conditions input[data-invalid] ~ .label {
    display: none !important;
}

#terms_and_conditions input[data-invalid] ~ .error {
    display: inline !important;
}

.datetime-block {
    min-height: 58px;
    margin-top: -20px;
    margin-bottom: 50px;
}

.datetime-block span {
    top: 43px;
    left: 2px;
    position: relative;
    font-size: 18px;
    padding: 6px 18px;
    text-indent: 0;
    line-height: 1.428571429;
    color: rgb(85, 85, 85);
    background: #fff none;
    font-weight: 900;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-shadow: none;
    text-align: start;
}

.file-block span.label {
    top: 0;
    left: 1px;
    position: relative;
    font-size: 18px;
    padding: 6px 0 6px 18px;
    text-indent: 0;
    line-height: 1.428571429;
    color: rgb(85, 85, 85);
    background: #fff none;
    font-weight: 900;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-shadow: none;
    text-align: start;
    margin-right: 1px;
}

.datetime-block input[type=date] {
    padding-left: 210px;
}

.file-block input {
    padding-left: 500px;
    line-height: 40px;
}

.file-block a:link, .file-block a:visited {
    color: #666666;
}

.progress {
    position: relative;
    top: -4px;
}

.progress .bar {
    width: 50%;
    background: green;
    height: 2px;
    margin-top: -2px;
}

.fileinput-button {
    font-size: 14px;
    padding: 6px 18px;
    cursor: pointer;
    background: #fdb924;
    border: 1px solid #fdb924;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: .02em;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    white-space: nowrap;
    line-height: 1.428571429;
    position: relative;
    overflow: hidden;
    display: inline-block;
    background: none;
    color: #101010;
    text-decoration: none;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}

.file-block .fileinput-button {
    float: right;
    margin-right: 10px;
    margin-top: 12px;
}

.block.file-block {
    border-radius: 4px;
    border: 1px solid #ccc;
    min-height: 58px;
    line-height: 62px;
}

.fileinput-button.error {
    display: inline-block !important;
    border-color: #f04124;
    border-width: 2px;
}

.fileinput-button.file-selected {
    border-color: #888;
    border-width: 1px;
}

#submit_block button[disabled] {
    background: #e8e8e8;
    color: grey;
    cursor: wait;
}

select.field {
    padding-top: 1px;
    height: 58px;
}

/*media*/

@media (max-width: 800px) {

    .date-picker.field {
        padding-top: 45px;
    }

    .fileinput-button {
        float: none;
        display: block;
    }

    .block.file-block .label {
        display: block;
        padding-top: 10px;
    }

    .file-block .fileinput-button {
        float: left;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .block.file-block {
        min-height: 100px;
    }

    .datetime-block input[type="date"] {
        padding-left: 17px;
    }
}

.clearfix {
    clear: both;
}

.clearfix:after {
    content: " ";
}

#logo-container {
    width: 100%;
    text-align: center;
}

#logo {
    margin: 20px 0 0 0;
    height: 60px;
}
