.square-mega-menu-wrapper ul.sub-menu{
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	-ms-box-shadow:none;
	box-shadow:none;
}

.square-mega-menu-wrapper > ul.sub-menu{
	position:absolute;
	z-index:999;
	top:auto;
	list-style:none;
	margin:0;
	padding:0;
	padding:10px;
	box-shadow: 0 8px 5px -5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 8px 5px -5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 8px 5px -5px rgba(0,0,0,0.3);
	color:#777;
	display:block;
	visibility:hidden;
	background:#EBEBEB;
}

.square-mega-menu-wrapper > ul.sub-menu:after{
	content:'';
	height:0;
	width:0;
	visibility:hidden;
	overflow:hidden;
	display:block;
	clear:both;
	padding:0;
	margin:0;
}

.square-mega-menu-main-wrapper > ul.sub-menu{
	margin-top:-7px;
}

	.square-mega-menu-wrapper > ul.sub-menu li{
		width:100%;
	}

	.square-mega-menu-wrapper > ul.sub-menu li.menu-item-type-post_type{
		padding-left:16px;
		border-bottom:1px solid #334e9a;
		padding:5px 0;
	}
	
	.square-mega-menu-wrapper > ul.sub-menu li > a{
		color:#334e9a;
		text-decoration:none;
		transition:color 0.1s ease-in-out;
		-webkit-transition:color 0.1s ease-in-out;
		-moz-transition:color 0.1s ease-in-out;
		-o-transition:color 0.1s ease-in-out;
		-ms-transition:color 0.1s ease-in-out;
		font-family:'Roboto Condensed Light', sans-serif;
		width:100%;
		height:auto;
		padding:3px 0;
	}
	
	.square-mega-menu-wrapper > ul.sub-menu li > a:hover{
		color:black;
	}
		
	.square-mega-menu-wrapper > ul.sub-menu li > img{
		padding:6px 0;
	}
	
	.square-mega-menu-wrapper > ul.sub-menu ul.sub-menu{
		list-style:none;
		float:left;
		position:relative;
		margin:0;
		padding:0 15.75px 0 0;
		padding-left:5px;
		margin-bottom:10px;
		display:inline-block;
		left:0;
		border-right:1px solid #ddd;
	}
	
	.square-mega-menu-title-wrapper{
		list-style:none;
	}
		
	.square-mega-menu-title{
		display:block;
		font-size:14px;
		padding:6px 0;
		color:black;
	}
	
	.square-mega-menu-p{
		font-size:11px;
		padding:6px 0 0 0;
		color:inherit;
	}
	
	.square-mega-menu-bullet{
		display:inline-block;
		*display:inline;
		zoom:1;
		margin-right:5px;
		font-size:30px;
		line-height:0.8;
		vertical-align:-15%;
		margin-left:-16px;
	}
	
	.square-mega-menu-top-arrow{
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 12px 12px 12px;
		border-color: transparent transparent #EBEBEB transparent;
		position:absolute;
		top:-12px;
		left:0;
	}


.square-breadcrumb .raquo{
	text-indent:-9999px;
	background-image:url(../img/breadcrumb.png);
	background-position:center;
	background-repeat:no-repeat;
	display:inline-block;
	width:18px;
	height:50px;
	padding:0 25px 0 20px;
	filter : alpha(opacity=7);
    opacity : 0.07;
}

.square-breadcrumb a,
.square-breadcrumb .current{
	font-size:1.4rem;
}

.square-breadcrumb .current{
	font-weight:bold;
	color: #555;
	text-shadow: 1px 1px rgba(255,255,255,.7);
}