<!DOCTYPE html>
<html lang="en-GB" prefix="og: http://ogp.me/ns#">
	<head>

		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="google-site-verification" content="7foBwY4FrgdzYYn-QUZwlEXR-GYmuzlwbsYcPEP5V-A" />

		<%= favicon_link_tag 'black_logo.png' %>

		<script>
			var template_directory = 'https://gett.com/uk/wp-content/themes/gett';
			var ajax_url = 'https://gett.com/uk/wp-admin/admin-ajax.php';
		</script>
		<title>Dropping</title>

		<!-- This site is optimized with the Yoast SEO plugin v7.2 - https://yoast.com/wordpress/plugins/seo/ -->
		<meta name="description" content="Download the Gett app and get a licensed Black Cab in one tap. London transport at its best - the easy and super fast way to get a taxi across the UK."/>
		<link rel="canonical" href="https://gett.com/uk/" />
		<meta property="og:locale" content="en_GB" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Gett UK" />
		<meta property="og:description" content="Download the Gett app and get a licensed Black Cab in one tap. London transport at its best - the easy and super fast way to get a taxi across the UK." />
		<meta property="og:url" content="https://gett.com/uk/" />
		<meta property="og:site_name" content="Gett UK" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:description" content="Download the Gett app and get a licensed Black Cab in one tap. London transport at its best - the easy and super fast way to get a taxi across the UK." />
		<meta name="twitter:title" content="Gett UK" />
		<script type='application/ld+json'>
			{"@context":"https:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/gett.com\/uk\/","name":"Gett UK","potentialAction":{"@type":"SearchAction","target":"https:\/\/gett.com\/uk\/?s={search_term_string}","query-input":"required name=search_term_string"}
			}
		</script>
		<!-- / Yoast SEO plugin. -->

		<link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />
		<link rel='dns-prefetch' href='//ajax.googleapis.com' />
		<link rel='dns-prefetch' href='//fonts.googleapis.com' />
		<link rel='dns-prefetch' href='//s.w.org' />
		<link rel="alternate" type="application/rss+xml" title="Gett UK &raquo; Feed" href="https://gett.com/uk/feed/" />
		<link rel="alternate" type="application/rss+xml" title="Gett UK &raquo; Comments Feed" href="https://gett.com/uk/comments/feed/" />

		<link rel='stylesheet' id='square-mega-menu-frontend-css-css'  href='/assets/style.v.4.9.5.css' type='text/css' media='all' />
		<link rel='stylesheet' id='contact-form-7-css'  href='/assets/style.v.5.0.1.css' type='text/css' media='all' />
		<link rel='stylesheet' id='mo_saml_admin_settings_style-css'  href='/assets/jquery.ui.v.4.9.5.css' type='text/css' media='all' />
		<link rel='stylesheet' id='cookie-notice-front-css'  href='/assets/front.min.css' type='text/css' media='all' />
		<link rel='stylesheet' id='font-awesome-css'  href='/assets/font-awesome.v.4.9.5.css' type='text/css' media='all' />
		<link rel='stylesheet' id='square-breadcrumb-style-css'  href='/assets/style.v.4.9.5.css' type='text/css' media='all' />
		<link rel='stylesheet' id='gett-jqueryui-smoothness-css'  href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css?ver=4.9.5' type='text/css' media='all' />
		<link rel='stylesheet' id='gett-font-google-css'  href='//fonts.googleapis.com/icon?family=Material+Icons&#038;ver=4.9.5' type='text/css' media='all' />
		<link rel='stylesheet' id='gett-icomoon-css'  href='/assets/icomoon.css' type='text/css' media='all' />
		<link rel='stylesheet' id='gett-owl-carousel-css'  href='/assets/owl.carousel.css' type='text/css' media='all' />
		<link rel='stylesheet' id='gett-icons-css'  href='/assets/icons.css' type='text/css' media='all' />
		<link rel='stylesheet' id='gett-perfect-scrollbar-css'  href='//cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.10/css/perfect-scrollbar.min.css?ver=4.9.5' type='text/css' media='all' />
		<link rel='stylesheet' id='gett-style-css'  href='/assets/style.css' type='text/css' media='all' />
		<script type='text/javascript' src='/assets/jquery.v.12.4.js'></script>
		<script type='text/javascript' src='/assets/jquery-migrate.min.v.1.4.1.js'></script>
		<script type='text/javascript' src='/assets/settings.js'></script>

		<link rel='stylesheet' id='bootstrap-css'  href='/assets/bootstrap.min.v3.3.6.css' media='all' />
		<link rel='stylesheet' id='common_css-css'  href='/assets/common.css' media='' />
		<link rel='stylesheet' id='press_css-css'  href='/assets/press-stylesheet.css' media='' />
		<link rel='stylesheet' id='sanomat_css-css'  href='/assets/1512-PNDUFW-11oct17.css' media='' />
		<link rel='stylesheet' id='tablepress-default-css'  href='/assets/tablepress-combined.min.css' media='all' />
		<link rel='stylesheet' id='wpgform-css-css'  href='/assets/wpgform.css' media='all' />
		<link rel='stylesheet' id='wpglobus-css'  href='/assets/wpglobus.min.css' media='all' />
		<script type='text/javascript' src='/assets/jquery.js'></script>
		<script type='text/javascript' src='/assets/jquery-migrate.min.js'></script>
		<script type='text/javascript' src='/assets/utils.min.js'></script>
		<script src="/assets/jquery.js"></script>

		<script src="/assets/bootstrap.min.js"></script>

		<script src="/assets/kitUtils.js"></script>
		<script src="/assets/fastclick.min.js"></script>
		<script src="/assets/detectmobilebrowser.js"></script>
		<script src="/assets/jquery.dataTables.min.js"></script>
		<script src="/assets/dataTables.responsive.min.js"></script>
		<script src="/assets/jquery.validate.min.js"></script>
		<script src="/assets/slick.min.js"></script>
		<script src="/assets/masonry.pkgd.min.js"></script>
		<script src="/assets/imagesloaded.pkgd.js"></script>
		<script src="/assets/jquery.flip.min.js"></script>
		<script src="/assets/main.js"></script>

		<script type='text/javascript'>
			/* <![CDATA[ */
			var cnArgs = {
				"ajaxurl" : "https:\/\/gett.com\/uk\/wp-admin\/admin-ajax.php",
				"hideEffect" : "fade",
				"onScroll" : "no",
				"onScrollOffset" : "100",
				"cookieName" : "cookie_notice_accepted",
				"cookieValue" : "TRUE",
				"cookieTime" : "2592000",
				"cookiePath" : "\/",
				"cookieDomain" : "",
				"redirection" : "",
				"cache" : ""
			};
			/* ]]> */
		</script>
		<script type='text/javascript' src='/assets/front.min.js'></script>

	</head>
	<body class="home page-template page-template-page-home page-template-page-home-php page page-id-354" id="en_GB" itemscope="" itemtype="http://schema.org/WebPage">

		<div id="top">
			<div class="container">
				<nav class="navbar navbar-default">

					<div class="navbar-header">
						<%= link_to "Dropping", root_path, :class=>"navbar-brand text-hide bg-size-cover" %>
						<!-- <a class="navbar-brand text-hide bg-size-cover" href="https://www.dropping.com">Dropping</a> -->
					</div>
					<ul id="nav-main" class="nav navbar-nav hidden-xs">
						<li class="">
							<!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Drivers</a> -->
							<!-- <%#= link_to 'Drivers',drivers_path %> -->
						</li>

						<li class="dropdown dropdown-large">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Services </a>
							<ul class="dropdown-menu dropdown-menu-large row list-icons" style="position: fixed; top: 68px;  text-align: center; ">
								<li class="  col-sm-1 " style=" display: inline-block;float:none;">
									<a href="" class="icon-taxi"> Taxi </a>
								</li>
								<li class="  col-sm-1 " style=" display: inline-block;float:none;">
									<a href="/" class="icon-car"> Car </a>
								</li>
								<li class="  col-sm-1 " style=" display: inline-block;float:none;">
									<a href="" class="icon-bike"> Bike </a>
								</li>
								<li class="  col-sm-1 " style=" display: inline-block;float:none;">
									<a href="" class="icon-food"> Food </a>
								</li>

							</ul>
						</li>

						<li class="dropdown dropdown-large">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Corporate </a>
							<ul class="dropdown-menu dropdown-menu-large row list-icons" style="position: fixed; top: 68px;  text-align: center; ">
								<li class="  col-sm-2 " style=" display: inline-block;float:none;">
									<a href="" class="icon-work"> Dropping for Business </a>
								</li>
								<li class="  col-sm-2 " style=" display: inline-block;float:none;">
									<a href="" class="icon-partnerships"> Partnerships </a>
								</li>
							</ul>
						</li>

					</ul>

					<ul class="nav navbar-nav navbar-right hidden-xs">
						<li>
							<span style='display:none'>4</span><a href='https://help.grab.com/hc/en-sg'>Help Center</a>
						</li>
						<li>
							<a href="" rel="nofollow">Login</a>
						</li>
					</ul>

					<ul id="nav-drive" class="nav navbar-nav navbar-right hidden-xs ">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Drive with Dropping </a>
							<ul class="dropdown-menu list-icons">

								<li class="abc" style="">
									<%= link_to 'Drive with Dropping ',drivers_path, :class=>"icon-drive-white" %>

								</li>

								<li class="abc" style="">
									<a href="" class="icon-bike" style=""> Dropping Bike</a>
								</li>
								<li class="abc" style="">
									<a href="" class="icon-grabfood-drive-white" style=""> DroppingFood Driver</a>
								</li>

								<li class="abc" style="">
									<a href="" class="icon-drive-white" style=""> Dropping ShopLink</a>
								</li>

							</ul>
						</li>
					</ul>

				</nav>
				<a id="cd-menu-trigger" href="#0" class="visible-xs"><span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span></a>

				<a id="btn-download" href="https://www.grab.com/sg/driver" class="visible-xs btn btn-green weight-bold outline text-caps">Driver Sign-Up</a>

			</div><!-- /container -->
		</div>

		<!-- <nav class="visible-xs mobile-menu lateral-menu-is-open" id="cd-lateral-nav">
			<div class="inner">
				<a href="https://hub.grab.com/" target="_blank" class="btn btn-green btn-block weight-bold outline" rel="nofollow">Login</a>
			</div>
			<ul class="cd-navigation list-unstyled" id="menu-main-navigation">
				<li class="menu-item-has-children menu-item-drive">
					<a href="#">Drive with Grab</a>
					<ul id="sub-menu-drive" class="sub-menu list-unstyled list-icons">
						<li class="link-">
							<a href="https://www.grab.com/sg/driver/" class="icon-drive">Drive with Grab</a>
						</li>
						<li class="link-">
							<a href="https://www.grab.com/sg/driver/taxi/" class="icon-taxi-drive">Taxi Driver</a>
						</li>
						<li class="link-">
							<a href="https://www.grab.com/sg/driver/car/" class="icon-car-drive">Car Driver</a>
						</li>
						<li class="link-">
							<a href="https://www.grab.com/sg/driver/hitch/" class="icon-hitch-drive">Hitch Driver</a>
						</li>
						<li class="link-">
							<a href="https://www.grab.com/sg/driver/rental/" class="icon-rental-drive">Rental Driver</a>
						</li>
						<li class="link-">
							<a href="https://www.grab.com/sg/driver/food/" class="icon-grabfood-drive">GrabFood Driver</a>
						</li>
					</ul>
				</li>
				<li class="menu-item-has-children">
					<a href="#">Services</a>
					<ul class="sub-menu list-unstyled list-icons">
						<li>
							<a href="https://www.grab.com/sg/taxi/" class="icon-taxi"> Taxi </a>
						</li>
						<li>
							<a href="https://www.grab.com/sg/car/" class="icon-car"> Car </a>
						</li>
						<li>
							<a href="https://www.grab.com/sg/hitch/" class="icon-hitch"> Hitch </a>
						</li>
						<li>
							<a href="https://www.grab.com/sg/share/" class="icon-share"> Share </a>
						</li>

					</ul>
				</li>
				<li class="menu-item-has-children">
					<a href="#">Corporate</a>
					<ul class="sub-menu list-unstyled list-icons">
						<li>
							<a href="https://www.grab.com/sg/score/" class="icon-score">SCORE</a>
						</li>
						<li>
							<a href="https://www.grab.com/sg/business/" class="icon-work">Grab for Business</a>
						</li>
						<li>
							<a href="https://www.grab.com/sg/partnerships/" class="icon-partnerships">Partnerships</a>
						</li>
						<li>
							<a href="https://www.grab.com/sg/grab-ventures/" class="icon-ventures">Grab Ventures</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="https://www.grab.com/sg/about/">About</a>
				</li>

				<li>
					<a href="/sg/grabpay/" class="grabpay-brand mobile-nav"></a>
					<style>
						.grabpay-brand.mobile-nav {
							margin-left: 24px;
						}
					</style>
				</li>
				<li></li>
				<li class="menu-item">
					<a href="https://www.grab.com/sg/blog/">Blog</a>
				</li>
				<li>
					<a href="https://www.grab.com/sg/press/">Press</a>
				</li>
				<li>
					<a href="https://grab.careers/" target="_blank">Careers</a>
				</li>
				<li>
					<a href="https://www.grab.com/sg/safety/">Safety</a>
				</li>
				<li>
					<a href="https://help.grab.com/hc/en-sg">Help Centre</a>
				</li>
			
			</ul>
		</nav> -->

		<%= yield %>

		

		<section class="sitemap">
			<div class="container">
				<div class="row">
					<div class="footer-secTop">
						<div class="col-sm-12 col-md-3" >
							<div class="footer-about-grab" >
								<div class="grab-logo bottom-margin-md">
									
									<%= image_tag "/assets/black_logo.png/" %>
								</div>
								<div class="grab-infor">
									<p>
									
										C470/26, Abotsi Street,
										<br>
										East Legon, Accra.
										<br />
										agoo@godropping.com
										<br />
										+233-302913696
										<br />
										+233-544090863
										<br />
									</p>
								</div>
								<div class="grab-contact top-margin-md">
									<p></p>
									<p>
										<a href="mailto:"></a>
									</p>
								</div>
							</div><!-- /footer-about-grab-->
						</div>

						<div class="col-sm-12 col-md-9 hidden-xs" >
							<div class="row sitemap-container" >

								<div class="col-xs-6 col-sm-4 col-md-3" >
									<h4 class="text-caps">Company</h4>
									<ul class="sitemapList" id="menu-company-menu">
										<li class="menu-item" id="menu-item-1040">
											<a href="">About</a>
										</li>
										<li class="menu-item" id="menu-item-1047">
											<a href="">Press</a>
										</li>

										<li class="menu-item">
											<a href="">Blog</a>
										</li>
										<li class="menu-item" id="menu-item-1039">
											<a href="" target="_blank">Careers</a>
										</li>
										<li class="menu-item" id="menu-item-1038">
											<a href="">Security</a>
										</li>
										<li class="menu-item" id="menu-item-1050">
											<a href="">Driver Centre</a>
										</li>
									</ul>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3" >
									<h4 class="text-caps">Services</h4>
									<ul id="menu-footer-services" class="sitemapList">

										<li id="menu-item-11229" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11229">
											<a href="https://www.grab.com/sg/shuttle/">Bike</a>
										</li>
										<li id="menu-item-27158" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27158">
											<a href="https://www.grab.com/sg/shuttleplus/">Taxi</a>
										</li>
										<li id="menu-item-21719" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21719">
											<a href="https://www.grab.com/sg/family/">Private Car </a>
										</li>

										<li id="menu-item-35755" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35755">
											<a href="https://www.grab.com/sg/cycle/">DroppingFOOD</a>
										</li>

										<li id="menu-item-35755" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35755">
											<a href="https://www.grab.com/sg/cycle/">ShopLink</a>
										</li>

									</ul>
								</div><!-- /col-xs-6 col-sm-4 col-md-3 -->
								<div class="col-xs-6 col-sm-4 col-md-3" >
									<h4 class="text-caps">Corporate</h4>
									<ul id="menu-footer-corporate" class="sitemapList">

										<li id="menu-item-380" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-380">
											<a href="https://www.grab.com/sg/business/">Dropping for Business</a>
										</li>
										<li id="menu-item-381" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-381">
											<a href="https://www.grab.com/sg/partnerships/">Partnerships</a>
										</li>
										
									</ul>
								</div><!-- /col-xs-6 col-sm-4 col-md-3 -->
								<div class="col-xs-6 col-sm-4 col-md-3" >
									<h4 class="text-caps">Ride</h4>
									<ul id="menu-footer-ride" class="sitemapList">
										<li id="menu-item-387" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-387">
											<a href="https://www.grab.com/sg/driver/">Drive</a>
										</li>
										<li id="menu-item-8036" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8036">
											<a href="https://www.grab.com/sg/safety/">Safety</a>
										</li>
										<li id="menu-item-23658" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23658">
											<a href="https://help.grab.com/hc/en-sg">Help Centre</a>
										</li>
									</ul>
								</div><!-- /col-xs-6 col-sm-4 col-md-3 -->
							</div><!-- /row sitemap-container -->

						</div><!-- /col-sm-12 col-md-9 -->
						<div class="col-sm-12 col-md-12 hidden-xs" >
							<hr/>
						</div>
					</div><!-- /footer-secTop-->

				</div><!-- /row-->

				<div class="row " >
					<div class="col-xs-6 col-sm-4 col-md-3 socialArea" >
						<div class="row hidden-xs">
							<div class="col-xs-12" >
								<h4 class="text-caps">Stay in Touch</h4>
							</div>
						</div><!-- /row-->

						<div class="row" >
							<div class="col-xs-2" >
								<a target="_blank" href="https://web.facebook.com/DroppingGH/?ref=bookmarks" class="fb socialIcon hvr-float-shadow" ><i class="fa fa-facebook fa-2x"></i></a>
							</div>
							<div class="col-xs-2" >
								<a target="_blank" href="https://instagram.com/droppingh/" class="instagram socialIcon hvr-float-shadow" ><i class="fa fa-instagram fa-2x"></i></a>
							</div>
							<div class="col-xs-2" >
								<a target="_blank" href="https://twitter.com/DroppingGH" class="twitter socialIcon hvr-float-shadow" ><i class="fa fa-twitter fa-2x"></i></a>
							</div>
							<div class="col-xs-2" >
								<a target="_blank" href="" class="youtube socialIcon hvr-float-shadow" ><i class="fa fa-youtube fa-2x"></i></a>
							</div>
							<div class="col-xs-2" >
								<a target="_blank" href="" class="pinterest socialIcon hvr-float-shadow" ><i class="fa fa-pinterest fa-2x"></i></a>
							</div>
							<div class="col-xs-2" >
								<a target="_blank" href="" class="linkedin socialIcon hvr-float-shadow" ><i class="fa fa-linkedin fa-2x"></i></a>
							</div>
						</div><!-- /row-->
					</div><!-- /col-sm-6 col-md-2 socialArea -->
				</div><!-- /row-->
			</div><!-- /container -->
		</section><!-- /sitemap -->

		<footer>
			<div class="container" >
				<div class="row">
					<div class="col-xs-12 col-md-4">
						<ul class="policylist">
							<li>
								<a href="" >Terms of Service</a>
							</li>
							<li>
								<a href="" >Privacy Policy</a>
							</li>

						</ul>
					</div><!-- /col-xs-12 col-md-4 -->
					<div class="col-xs-12 col-md-4">
						<p class="copyright">
							&copy; Dropping 2018
						</p>
					</div>
					<div class="col-xs-12 col-md-4 hidden-xs">
						<ul class="playstore">
							<li>
								<a onClick="ga('send', { hitType: 'event', eventCategory: 'Website', eventAction: 'Download',  eventLabel: 'Web'});" target="_blank" href="https://app.appsflyer.com/id647268330?pid=SG-Website-IOS-Install_Button&c=Website_Download" ><img src="https://cdn.grab.com/sg/wp-content/uploads/media/images/footer/app-store.png" class="img-responsive" /></a>
							</li>
							<li>
								<a onClick="ga('send', { hitType: 'event', eventCategory: 'Website', eventAction: 'Download',  eventLabel: 'Web'});" target="_blank" href="https://app.appsflyer.com/com.grabtaxi.passenger?pid=SG-Website-ADR-Install_Button&c=Website_Download" ><img src="https://cdn.grab.com/sg/wp-content/uploads/media/images/footer/google-play.png" class="img-responsive" /></a>
							</li>
						</ul>
					</div><!-- /col-xs-12 col-md-4 -->
				</div><!-- /row-->
			</div><!-- /container -->
		</footer><!-- /footer -->
		<!-- </div> --><!-- /wrapper -->

		</script>
		<script type='text/javascript' src='/assets/scripts.js'></script>
		<script type='text/javascript' src='/assets/skrollr.js'></script>
		<script type='text/javascript' src='/assets/jquery.vticker.min.js'></script>
		<script type='text/javascript' src='/assets/jquery.videoBG.js'></script>
		<script type='text/javascript' src='/assets/form-validation.js'></script>
		<script type='text/javascript' src='/assets/perfect-scrollbar.jquery.js'></script>
		<script type='text/javascript' src='/assets/masonry.pkgd.min.v.4.9.5.js'></script>
		<script type='text/javascript'>
			/* <![CDATA[ */
			var videoBG = {
				"acf_fc_layout" : "section_1",
				// "video_mp4" : "https:\/\/gett.com\/uk\/wp-content\/uploads\/sites\/6\/2015\/11\/london.mp4",
				// "video_webm" : "https:\/\/gett.com\/uk\/wp-content\/uploads\/sites\/6\/2015\/11\/london.webm",
				// https://gett.com/uk/wp-content/uploads/sites/6/2015/11/london.webm
				"video_ogv" : "https:\/\/gett.com\/uk\/wp-content\/uploads\/sites\/6\/2015\/11\/london.ogv",
				"poster" : {
					"ID" : 1772,
					"id" : 1772,
					"title" : "shutterstock_224533348",
					"filename" : "shutterstock_224533348.jpg",
					"filesize" : 233631,
					"url" : "https:\/\/gett.com\/uk\/wp-content\/uploads\/sites\/6\/2015\/11\/shutterstock_224533348.jpg",
					"link" : "https:\/\/gett.com\/uk\/homepage\/shutterstock_224533348\/",
					"alt" : "",
					"author" : "1",
					"description" : "",
					"caption" : "",
					"name" : "shutterstock_224533348",
					"status" : "inherit",
					"uploaded_to" : 354,
					"date" : "2016-02-24 10:48:20",
					"modified" : "2016-02-24 10:48:20",
					"menu_order" : 0,
					"mime_type" : "image\/jpeg",
					"type" : "image",
					"subtype" : "jpeg",
					"icon" : "https:\/\/gett.com\/uk\/wp-includes\/images\/media\/default.png",
					"width" : 1600,
					"height" : 826,
					"sizes" : {
						"thumbnail" : "https:\/\/gett.com\/uk\/wp-content\/uploads\/sites\/6\/2015\/11\/shutterstock_224533348-150x150.jpg",
						"thumbnail-width" : 150,
						"thumbnail-height" : 150,
						"medium" : "https:\/\/gett.com\/uk\/wp-content\/uploads\/sites\/6\/2015\/11\/shutterstock_224533348-300x155.jpg",
						"medium-width" : 300,
						"medium-height" : 155,
						"medium_large" : "https:\/\/gett.com\/uk\/wp-content\/uploads\/sites\/6\/2015\/11\/shutterstock_224533348-768x396.jpg",
						"medium_large-width" : 768,
						"medium_large-height" : 396,
						"large" : "https:\/\/gett.com\/uk\/wp-content\/uploads\/sites\/6\/2015\/11\/shutterstock_224533348-1024x529.jpg",
						"large-width" : 1024,
						"large-height" : 529
					}
				},
				"title" : "DRIVEN BY QUALITY",
				"title_font_size" : "45",
				"subtitle" : "The UK's black cab app",
				"subtitle_font_size" : "25",
				"sub_subtitle" : "",
				"sub_subtitle_url" : "https:\/\/gett.com\/uk\/legal\/terms\/",
				"buttons_title" : "",
				"buttons" : [{
					"type" : "apple",
					"external_url" : "https:\/\/itunes.apple.com\/gb\/app\/get-taxi-your-london-cab-solution\/id449655162?mt=8",
					"label" : "",
					"video" : ""
				}, {
					"type" : "android",
					"external_url" : "https:\/\/play.google.com\/store\/apps\/details?id=com.gettaxi.android&hl=en_GB",
					"label" : "",
					"video" : ""
				}, {
					"type" : "video",
					"external_url" : "",
					"label" : "Watch a video",
					"video" : "Yr5M-iH02Xs"
				}],
				"container" : ".section1-video"
			};
			/* ]]> */
		</script>
		<script type='text/javascript' src='/assets/videoBG.js'></script>
		<script type='text/javascript' src='/assets/jst.js'></script>
		<script type='text/javascript' src='/assets/owl.carousel.v.4.9.5.js'></script>
		<script type='text/javascript' src='/assets/wp-embed.min.js'></script>

		<script data-cfasync="false" src="https://js.nagich.co.il/accessibility.js"></script>

		<script type="text/javascript" id="">
			! function(c, d) {
				var b = "008bf9f0c3d31c9e40946daba2844dcf67";
				if (!c.obApi) {
					var a = c.obApi = function() {
						a.dispatch ? a.dispatch.apply(a, arguments) : a.queue.push(arguments)
					};
					a.version = "1.0";
					a.loaded = !0;
					a.marketerId = b;
					a.queue = [];
					b = d.createElement("script");
					b.async = !0;
					b.src = "//amplify.outbrain.com/cp/obtp.js";
					b.type = "text/javascript";
					var e = d.getElementsByTagName("script")[0];
					e.parentNode.insertBefore(b, e)
				}
			}(window, document);
			obApi("track", "PAGE_VIEW");
		</script>

		<script type="text/javascript" id="">
			(function(d, a, b, f, e) {
				d[e] = d[e] || [];
				d[e].push({
					projectId : "10000",
					properties : {
						pixelId : "10022897"
					}
				});
				var c = a.createElement(b);
				c.src = f;
				c.async = !0;
				c.onload = c.onreadystatechange = function() {
					var a = this.readyState,
					    c = d[e];
					if (!a || "complete" == a || "loaded" == a)
						try {
							var b = YAHOO.ywa.I13N.fireBeacon;
							d[e] = [];
							d[e].push = function(a) {
								b([a])
							};
							b(c)
						} catch(g) {
						}
				};
				a = a.getElementsByTagName(b)[0];
				b = a.parentNode;
				b.insertBefore(c, a)
			})(window, document, "script", "https://s.yimg.com/wi/ytc.js", "dotq");
		</script>
		<script type="text/javascript" id="">
			! function(b, e, f, g, a, c, d) {
				b.fbq || ( a = b.fbq = function() {
					a.callMethod ? a.callMethod.apply(a, arguments) : a.queue.push(arguments)
				}, b._fbq || (b._fbq = a), a.push =
				a, a.loaded = !0, a.version = "2.0", a.queue = [],
				c = e.createElement(f), c.async = !0, c.src =
				g,
				d = e.getElementsByTagName(f)[0], d.parentNode.insertBefore(c, d))
			}(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js");
			fbq("init", "702364719893092");
			fbq("track", "PageView");
		</script>
		<script type="text/javascript" id="">
			var _elqQ = _elqQ || [];
			_elqQ.push(["elqSetSiteId", "629252191"]);
			_elqQ.push(["elqTrackPageView"]);
			(function() {
				var a = document.createElement("script");
				a.type = "text/javascript";
				a.async = !0;
				a.src = "//img07.en25.com/i/elqCfg.min.js";
				var b = document.getElementsByTagName("script")[0];
				b.parentNode.insertBefore(a, b)
			})();
		</script>

		<!-- jQuery -->
		<!-- <script src="https://cdn.grab.com/sg/wp-content/themes/grabsg/js/jquery.js"></script>
		<script src="https://cdn.grab.com/sg/wp-content/themes/grabsg/js/slick.min.js"></script>
		<script src="https://cdn.grab.com/sg/wp-content/themes/grabsg/js/jquery.flip.min.js"></script>
		<script src="https://cdn.grab.com/sg/wp-content/themes/grabsg/js/main.js?20170301"></script> -->
	</body>
</html>
