<!DOCTYPE html>
<html lang="en-GB" class="no-js">
	<head>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= favicon_link_tag 'fav1.jpg' %>

		<title>Dropping</title>

		<link rel='stylesheet' id='square-mega-menu-frontend-css-css'  href='/assets/style.v.4.9.5.css' type='text/css' media='all' />
		<link rel='stylesheet' id='contact-form-7-css'  href='/assets/style.v.5.0.1.css' type='text/css' media='all' />
		<link rel='stylesheet' id='mo_saml_admin_settings_style-css'  href='/assets/jquery.ui.v.4.9.5.css' type='text/css' media='all' />
		<link rel='stylesheet' id='cookie-notice-front-css'  href='/assets/front.min.css' type='text/css' media='all' />
		<link rel='stylesheet' id='font-awesome-css'  href='/assets/font-awesome.v.4.9.5.css' type='text/css' media='all' />
		<link rel='stylesheet' id='square-breadcrumb-style-css'  href='/assets/style.v.4.9.5.css' type='text/css' media='all' />
		<link rel='stylesheet' id='gett-jqueryui-smoothness-css'  href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css?ver=4.9.5' type='text/css' media='all' />
		<link rel='stylesheet' id='gett-font-google-css'  href='//fonts.googleapis.com/icon?family=Material+Icons&#038;ver=4.9.5' type='text/css' media='all' />
		<link rel='stylesheet' id='gett-icomoon-css'  href='/assets/icomoon.css' type='text/css' media='all' />
		<link rel='stylesheet' id='gett-owl-carousel-css'  href='/assets/owl.carousel.css' type='text/css' media='all' />
		<link rel='stylesheet' id='gett-icons-css'  href='/assets/icons.css' type='text/css' media='all' />
		<link rel='stylesheet' id='gett-perfect-scrollbar-css'  href='//cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.10/css/perfect-scrollbar.min.css?ver=4.9.5' type='text/css' media='all' />
		<link rel='stylesheet' id='gett-style-css'  href='/assets/style.css' type='text/css' media='all' />
		<script type='text/javascript' src='/assets/jquery.v.12.4.js'></script>
		<script type='text/javascript' src='/assets/jquery-migrate.min.v.1.4.1.js'></script>
		<script type='text/javascript' src='/assets/settings.js'></script>

		<link rel='stylesheet' id='bootstrap-css'  href='/assets/bootstrap.min.v3.3.6.css' media='all' />
		<link rel='stylesheet' id='common_css-css'  href='/assets/common.css' media='' />
		<link rel='stylesheet' id='press_css-css'  href='/assets/press-stylesheet.css' media='' />
		<link rel='stylesheet' id='sanomat_css-css'  href='/assets/1512-PNDUFW-11oct17.css' media='' />
		<link rel='stylesheet' id='tablepress-default-css'  href='/assets/tablepress-combined.min.css' media='all' />
		<link rel='stylesheet' id='wpgform-css-css'  href='/assets/wpgform.css' media='all' />
		<link rel='stylesheet' id='wpglobus-css'  href='/assets/wpglobus.min.css' media='all' />
		<script type='text/javascript' src='/assets/jquery.js'></script>
		<script type='text/javascript' src='/assets/jquery-migrate.min.js'></script>
		<script type='text/javascript' src='/assets/utils.min.js'></script>
		<script src="/assets/jquery.js"></script>

		<script src="/assets/bootstrap.min.js"></script>

		<script src="/assets/kitUtils.js"></script>
		<script src="/assets/fastclick.min.js"></script>
		<script src="/assets/detectmobilebrowser.js"></script>
		<script src="/assets/jquery.dataTables.min.js"></script>
		<script src="/assets/dataTables.responsive.min.js"></script>
		<script src="/assets/jquery.validate.min.js"></script>
		<script src="/assets/slick.min.js"></script>
		<script src="/assets/masonry.pkgd.min.js"></script>
		<script src="/assets/imagesloaded.pkgd.js"></script>
		<script src="/assets/jquery.flip.min.js"></script>
		<script src="/assets/main.js"></script>
		<script type='text/javascript' src='/assets/front.min.js'></script>

		<div id="top">
			<div class="container">
				<nav class="navbar navbar-default">

					<div class="navbar-header">
						<%= link_to "Dropping", root_path, :class=>"navbar-brand text-hide bg-size-cover" %>
						
					</div>

					<ul id="nav-main" class="nav navbar-nav hidden-xs">
						<li class="bold">
							
							<%= link_to 'DROPPING',root_path %> 
						</li>

						<li class="dropdown dropdown-large">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Services </a>
							<ul class="dropdown-menu dropdown-menu-large row list-icons" style="position: fixed; top: 68px;  text-align: center; ">
								<li class="  col-sm-1 " style=" display: inline-block;float:none;">
									<a href="" class="icon-taxi"> Taxi </a>
								</li>
								<li class="  col-sm-1 " style=" display: inline-block;float:none;">
									<a href="/" class="icon-car"> Car </a>
								</li>
								<li class="  col-sm-1 " style=" display: inline-block;float:none;">
									<a href="" class="icon-bike"> Bike </a>
								</li>
								<li class="  col-sm-1 " style=" display: inline-block;float:none;">
									<a href="" class="icon-food"> Food </a>
								</li>
								<li class="  col-sm-1 " style=" display: inline-block;float:none;">
									<a href="" class="icon-cart"> ShopLink </a>
								</li>

							</ul>
						</li>

					</ul>




					<ul class="nav navbar-nav navbar-right hidden-xs">
						<li>
							<span style='display:none'>4</span><a href='https://help.grab.com/hc/en-sg'>Help Center</a>
						</li>
						<li>
							<a href="" rel="nofollow">Login</a>
						</li>
					</ul>

				

					<ul id="nav-drive" class="nav navbar-nav navbar-right hidden-xs ">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Drive with Dropping </a>
							<ul class="dropdown-menu list-icons">

								<li class="abc" style="">
									<%= link_to 'Drive with Dropping ',drivers_path, :class=>"icon-drive-white" %>

								</li>

								<li class="abc" style="">
									<a href="" class="icon-bike" style=""> Dropping Bike</a>
								</li>
								<li class="abc" style="">
									<a href="" class="icon-grabfood-drive-white" style=""> DroppingFood Driver</a>
								</li>

								<li class="abc" style="">
									<a href="" class="icon-cart" style=""> Dropping ShopLink</a>
								</li>

							</ul>
						</li>
					</ul>
			
				<ul id="nav-drive1" class="nav1 navbar1-nav navbar1-right hidden-xs ">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Corporate </a>
							<ul class="dropdown-menu1 list-icons">

								
								<li class="abc" style="">
									<a href="" class="icon-work" style="">  Dropping for Business</a>
								</li>

								<li class="abc" style="">
									<a href="" class="icon-partnerships" style=""> Partnerships</a>
								</li>

							</ul>
						</li>
					</ul>



				</nav>
				<a id="cd-menu-trigger" href="#0" class="visible-xs"><span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span></a>


			</div>
		</div>
		<nav class="visible-xs mobile-menu" id="cd-lateral-nav">
			<div class="inner">
				<a href="" target="_blank" class="btn btn-green btn-block weight-bold outline" rel="nofollow">Login</a>
			</div>
			<ul class="cd-navigation list-unstyled" id="menu-main-navigation">
				<li class="menu-item-has-children menu-item-drive">
					<a href="#">Drive with Dropping</a>
					<ul id="sub-menu-drive" class="sub-menu list-unstyled list-icons">
						<li class="link-">

							<%= link_to 'Drive with Dropping ',drivers_path, :class=>"icon-drive-white" %>
						</li>
						<li class="link-">
							<a href="" class="icon-bike" style=""> Dropping Bike</a>
						</li>
						<li class="link-">
							<a href="" class="icon-grabfood-drive-white" style=""> DroppingFood Driver</a>
						</li>
						<li class="link-">
							<a href="" class="icon-cart" style=""> Dropping ShopLink</a>
						</li>

					</ul>
				</li>
				<li class="menu-item-has-children">
					<a href="#">Services</a>
					<ul class="sub-menu list-unstyled list-icons">

						<li>
							<a href="" class="icon-taxi"> Taxi </a>
						</li>
						<li >
							<a href="/" class="icon-car"> Car </a>
						</li>
						<li >
							<a href="" class="icon-bike"> Bike </a>
						</li>
						<li >
							<a href="" class="icon-food"> Food </a>
						</li>
						<li >
							<a href="" class="icon-cart"> ShopLink </a>
						</li>
						
					</ul>
				</li>
				<li class="menu-item-has-children">
					<a href="#">Corporate</a>
					<ul class="sub-menu list-unstyled list-icons">
						
						<li>
							<a href="" class="icon-work"> Dropping for Business </a>
						</li>
						<li>
							<a href="" class="icon-partnerships"> Partnerships </a>
						</li>
						
					</ul>
				</li>
				<li>
					<a href="">About</a>
				</li>

				<li>
				<li class="menu-item">
					<a href="">Blog</a>
				</li>
				</li>
				<li>
					<a href="">Press</a>
				</li>
				<li>
					<a href="" >Careers</a>
				</li>
				<li>
					<a href="">Safety</a>
				</li>
				<li>
					<a href=''>Help Centre</a>
				</li>

			</ul>
		</nav>

		<%= yield %>

		<section class="sitemap">
			<div class="container">
				<div class="row">
					<div class="footer-secTop">
						<div class="col-sm-12 col-md-3" >
							<div class="footer-about-grab" >
								<div class="grab-logo bottom-margin-md">

									<%= image_tag "/assets/black_logo.png/" %>
								</div>
								<div class="grab-infor">
									<p>

										C470/26, Abotsi Street,
										<br>
										East Legon, Accra.
										<br />
										agoo@godropping.com
										<br />
										+233-302913696
										<br />
										+233-544090863
										<br />
									</p>
								</div>
								<div class="grab-contact top-margin-md">
									<p></p>
									<p>
										<a href="mailto:"></a>
									</p>
								</div>
							</div><!-- /footer-about-grab-->
						</div>

						<div class="col-sm-12 col-md-9 hidden-xs" >
							<div class="row sitemap-container" >

								<div class="col-xs-6 col-sm-4 col-md-3" >
									<h4 class="text-caps">Company</h4>
									<ul class="sitemapList" id="menu-company-menu">
										<li class="menu-item" id="menu-item-1040">
											<a href="">About</a>
										</li>
										<li class="menu-item" id="menu-item-1047">
											<a href="">Press</a>
										</li>

										<li class="menu-item">
											<a href="">Blog</a>
										</li>
										<li class="menu-item" id="menu-item-1039">
											<a href="" target="_blank">Careers</a>
										</li>
										<li class="menu-item" id="menu-item-1038">
											<a href="">Security</a>
										</li>
										<li class="menu-item" id="menu-item-1050">
											<a href="">Driver Centre</a>
										</li>
									</ul>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3" >
									<h4 class="text-caps">Services</h4>
									<ul id="menu-footer-services" class="sitemapList">

										<li id="menu-item-11229" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11229">
											<a href="https://www.grab.com/sg/shuttle/">Bike</a>
										</li>
										<li id="menu-item-27158" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27158">
											<a href="https://www.grab.com/sg/shuttleplus/">Taxi</a>
										</li>
										<li id="menu-item-21719" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21719">
											<a href="https://www.grab.com/sg/family/">Private Car </a>
										</li>

										<li id="menu-item-35755" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35755">
											<a href="https://www.grab.com/sg/cycle/">DroppingFOOD</a>
										</li>

										<li id="menu-item-35755" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35755">
											<a href="https://www.grab.com/sg/cycle/">ShopLink</a>
										</li>

									</ul>
								</div><!-- /col-xs-6 col-sm-4 col-md-3 -->
								<div class="col-xs-6 col-sm-4 col-md-3" >
									<h4 class="text-caps">Corporate</h4>
									<ul id="menu-footer-corporate" class="sitemapList">

										<li id="menu-item-380" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-380">
											<a href="https://www.grab.com/sg/business/">Dropping for Business</a>
										</li>
										<li id="menu-item-381" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-381">
											<a href="https://www.grab.com/sg/partnerships/">Partnerships</a>
										</li>

									</ul>
								</div><!-- /col-xs-6 col-sm-4 col-md-3 -->
								<div class="col-xs-6 col-sm-4 col-md-3" >
									<h4 class="text-caps">Ride</h4>
									<ul id="menu-footer-ride" class="sitemapList">
										<li id="menu-item-387" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-387">
											<a href="https://www.grab.com/sg/driver/">Drive</a>
										</li>
										<li id="menu-item-8036" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8036">
											<a href="https://www.grab.com/sg/safety/">Safety</a>
										</li>
										<li id="menu-item-23658" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23658">
											<a href="https://help.grab.com/hc/en-sg">Help Centre</a>
										</li>
									</ul>
								</div><!-- /col-xs-6 col-sm-4 col-md-3 -->
							</div><!-- /row sitemap-container -->

						</div><!-- /col-sm-12 col-md-9 -->
						<div class="col-sm-12 col-md-12 hidden-xs" >
							<hr/>
						</div>
					</div><!-- /footer-secTop-->

				</div><!-- /row-->

				<div class="row " >
					<div class="col-xs-6 col-sm-4 col-md-3 socialArea" >
						<div class="row hidden-xs">
							<div class="col-xs-12" >
								<h4 class="text-caps">Stay in Touch</h4>
							</div>
						</div><!-- /row-->

						<div class="row" >
							<div class="col-xs-2" >
								<a target="_blank" href="https://web.facebook.com/DroppingGH/?ref=bookmarks" class="fb socialIcon hvr-float-shadow" ><i class="fa fa-facebook fa-2x"></i></a>
							</div>
							<div class="col-xs-2" >
								<a target="_blank" href="https://instagram.com/droppingh/" class="instagram socialIcon hvr-float-shadow" ><i class="fa fa-instagram fa-2x"></i></a>
							</div>
							<div class="col-xs-2" >
								<a target="_blank" href="https://twitter.com/DroppingGH" class="twitter socialIcon hvr-float-shadow" ><i class="fa fa-twitter fa-2x"></i></a>
							</div>
							<div class="col-xs-2" >
								<a target="_blank" href="" class="youtube socialIcon hvr-float-shadow" ><i class="fa fa-youtube fa-2x"></i></a>
							</div>
							<div class="col-xs-2" >
								<a target="_blank" href="" class="pinterest socialIcon hvr-float-shadow" ><i class="fa fa-pinterest fa-2x"></i></a>
							</div>
							<div class="col-xs-2" >
								<a target="_blank" href="" class="linkedin socialIcon hvr-float-shadow" ><i class="fa fa-linkedin fa-2x"></i></a>
							</div>
						</div><!-- /row-->
					</div><!-- /col-sm-6 col-md-2 socialArea -->
				</div><!-- /row-->
			</div><!-- /container -->
		</section><!-- /sitemap -->

		<footer>
			<div class="container" >
				<div class="row">
					<div class="col-xs-12 col-md-4">
						<ul class="policylist">
							<li>
								<a href="" >Terms of Service</a>
							</li>
							<li>
								<a href="" >Privacy Policy</a>
							</li>

						</ul>
					</div><!-- /col-xs-12 col-md-4 -->
					<div class="col-xs-12 col-md-4">
						<p class="copyright">
							&copy; Dropping 2018
						</p>
					</div>
					<div class="col-xs-12 col-md-4 ">
						<ul class="playstore">
							<li>
								<a onClick="ga('send', { hitType: 'event', eventCategory: 'Website', eventAction: 'Download',  eventLabel: 'Web'});" target="_blank" href="https://app.appsflyer.com/id647268330?pid=SG-Website-IOS-Install_Button&c=Website_Download" ><img src="https://cdn.grab.com/sg/wp-content/uploads/media/images/footer/app-store.png" class="img-responsive" /></a>
							</li>
							<li>
								<a onClick="ga('send', { hitType: 'event', eventCategory: 'Website', eventAction: 'Download',  eventLabel: 'Web'});" target="_blank" href="https://app.appsflyer.com/com.grabtaxi.passenger?pid=SG-Website-ADR-Install_Button&c=Website_Download" ><img src="https://cdn.grab.com/sg/wp-content/uploads/media/images/footer/google-play.png" class="img-responsive" /></a>
							</li>
						</ul>
					</div><!-- /col-xs-12 col-md-4 -->
				</div><!-- /row-->
			</div><!-- /container -->
		</footer><!-- /footer -->

		<script type='text/javascript' src='/assets/scripts.js'></script>
		<script type='text/javascript' src='/assets/skrollr.js'></script>
		<script type='text/javascript' src='/assets/jquery.vticker.min.js'></script>
		<script type='text/javascript' src='/assets/jquery.videoBG.js'></script>
		<script type='text/javascript' src='/assets/form-validation.js'></script>
		<script type='text/javascript' src='/assets/perfect-scrollbar.jquery.js'></script>
		<script type='text/javascript' src='/assets/masonry.pkgd.min.v.4.9.5.js'></script>

		<!-- jQuery -->
		<script src="https://cdn.grab.com/sg/wp-content/themes/grabsg/js/jquery.js"></script>
		<script src="https://cdn.grab.com/sg/wp-content/themes/grabsg/js/slick.min.js"></script>
		<script src="https://cdn.grab.com/sg/wp-content/themes/grabsg/js/jquery.flip.min.js"></script>
		<script src="https://cdn.grab.com/sg/wp-content/themes/grabsg/js/main.js?20170301"></script>

